@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
     :root {
        --color-primary: 228, 238, 241;
        --color-secondary: 111 114 185;
        /* ... */
    }
}

@media (min-width: 1024px) {
    .lg\:max-w-lg {
        max-width: 100rem/* 512px */
        ;
    }
}